<div class="logged-in" *ngIf="authService.user | async">
  <div class="welcome-message">Welcome {{ (authService.user | async)?.email }}!</div>
  <button mat-button color="warn" (click)="logout()">Logout</button>
</div>
<div class="login">
  <div class="form-container" *ngIf="!(authService.user | async)">
    <mat-form-field class="login-input-container">
      <input matInput type="text" [(ngModel)]="email" placeholder="Enter your email">
    </mat-form-field>

    <mat-form-field class="login-input-container">
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" placeholder="Enter your password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-group">
      <div class="error">{{authService.errorMessage}}</div>
      <button mat-raised-button color="primary" (click)="signup()" [disabled]="!email || !password">Signup</button>
      <button mat-raised-button color="primary" (click)="login()" [disabled]="!email || !password">Login</button>
    </div>
  </div>
</div>
